.hsCards {
  width: 16vw;
  height: 22vw;
}

.cardList {
  width: 100%;
}

.deckHolder {
  display: flex;
  padding-top: 230px;
}

.deckList {
  width: 20%;
  border: 2px black solid;
  align-self: stretch;
  background-image: url(/src/Images/background.jpg);
}

.singleCard {
  height: 4%;
  width: 100%;
  padding: 2px;
}

.deckListMain {
  position: fixed;
  height: 100%;
}
